/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    color: #344E41;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    overflow: hidden;
}

.navbar-list {
    width: 70%;
    height: 75vh;

    padding-left: 15%;
    padding-right: 15%;
    padding-top: 25vh;

    margin: 0 auto 0;

    background-color: rgba(52, 78, 65, 0);

    z-index: 200;
    position: absolute;
    list-style: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: 0.25s 0.25 ease-in-out;
}

/* navigation list */

.nav-links {
    margin-bottom: 1em;
    display: block;
    color: #DAD7CD;
    text-decoration: none;
    background-color: #344E41;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
}

/*  
 style all a tags in header 
 and then on hover
*/


.navbar-list a:hover, .navbar-list a:focus {
    background-color: #588157;
    border-radius: 10px;
}

/* Hamburger Icon and Menu */

.menu {
    position: absolute;
    right: 0px;
    top: -110px;
    z-index: 100;
    width: 70px;
    height: 171px;
    background: #344E41;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #344E41, 0 0 0 0 #344E41;
    cursor: pointer;
}

.hamburger {
    position: absolute;
    top: 135px;
    left: 20px;
    width: 30px;
    height: 2px;
    background: #FFF;
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #FFF;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked + .menu .hamburger {
    transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

label input:checked + .menu + .navbar-list {
    visibility: visible;
    transition-delay: 0.25s;
    transition-property: visibility;
}


/* 
media query for non-mobile nav bar
*/

@media screen and (min-width:1000px) {
    .navbar {
        height: 100vh;
        margin-bottom: 0;
    }

    .navbar-list{
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 13rem;
        width: 100vw;
        height: auto;
        padding: 0;
    }

    .nav-links {
        margin: 0 15px 0;
    }

    .menu {
        display: none;
    }
}