body {
    color: #344E41;
    background-color: #DAD7CD;
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    text-align:center;
}

/* Norway Image Stuff */

.header {
    color: #344E41;
    font-size: 1.75rem;
    background:url("/img/norway-cropped.jpg") no-repeat center center fixed;
    background-size:cover;
    
    display:flex;
    flex-direction:column;

    height: 100vh;
    width: 100%;
    background-position:left;
    animation:move 100s ease-in-out infinite;
    text-align: center;
    white-space: nowrap;
}

.name {
    margin: 80px 20px 0px;
}

/*
.name {
    margin: 80px 20px 0px;
    padding-top: 0px;
    overflow: hidden;
    border-right: .15em solid #344E41;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

*/

/*

.header .cell {
    display:table-cell;
    vertical-align:top;
}

.header .site-info {
    width:50%;
    margin: 0 auto;
}

*/


/* Hero and Footer Style */

#hero, footer {
    text-align:center;
    background-color: #344E41;
    color: #DAD7CD;
    padding:20px;
    border:10px solid #588157;
}

#avatar {
    width:15vw;
    max-width:500px;
    min-width:100px;

    border:5px solid #FFF;
    border-bottom:50px solid #FFF;
    background-clip:border-box;

    background-color: #A3B18A;
    border-radius:3vw;
    box-shadow: 15px 15px 5px rgba(0,0,0,.5) inset,
                15px 15px 5px rgba(0,0,0,.5);
}

#profilePic {
    width: 150vw;
    max-width: 60%;
    min-width: 100px;

    box-shadow: 15px 15px 5px rgba(0,0,0,.5) inset,
                15px 15px 5px rgba(0,0,0,.5);
}

#hero a, #footer a{
    color: #DAD7CD;
}

#hero a:hover, #hero a:active, #footer a:hover, #footer a:active{
    padding:0.5rem;
    background-color:#588157;
    border-radius:10px;
}

/* Bio Style */

#bio{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
}

/* Hobbies Style */

#hobbies {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
}

/*
#hobbies, #bio ul{
    width:350px;
    margin-left:auto;
    margin-right:auto;
    max-width:350px;
    min-width:200px;
}
**/

/* Photo Gallery Style */







/* Lyrics Style */

#lyrics {
    margin-top: 20px;
    border:10px solid #588157;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

/* Blog style */

#blog {
    text-align:left;
    margin:3em;
}

/*

#blog p:nth-child(odd)::first-letter{
    clear: both;
    color: white;
    font-size: 230%;
    padding: .5ex;
    margin-right: .5ex;
    font-weight: bold;
    background-color: #344E41;
    background-origin: content-box;
    text-shadow:5px 5px 5px rgba(0,0,0,.5);
    box-shadow:3px 3px 3px rgba(0,0,0,.5);

    float: left;
    border: 5px double black;
}

*/

/* Demo Style */

/*
#demo {
    background:url("/img/neven-krcmarek-9dTg44Qhx1Q-unsplash.jpg") repeat-x;
    background-repeat: cover;
    background-size:cover;
    
    display:flex;
    flex-direction:column;

    height:90vh;
    width:90%;
    text-align: center;
}

*/
/* Video Style */

#video h2 {
    text-align:center;
}

#videoWrapper {
    position:relative;
    padding-bottom:56.25%;
    border:5px solid #588157;
    margin:50px;
}

#video iframe {
    display: block;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

/* Contact Form Style */

#contact{
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:075px;
}

#contact fieldset{
    display:grid;
    margin-top:1ex;
    margin-bottom:1ex;
    border: 2px solid #344E41;
    padding:1em;
}

#contact legend{
    background-color:#344E41;
    color:white;
    padding:1ex;
    border-bottom-right-radius:1ex;
    border-bottom-left-radius:1ex;
}

#contact label{
    margin:1ex;
}

#contact fieldset fieldset{
    grid-template-columns:30px auto;
}

#contact button{
    background-color:#344E41;
    color:white;
}

#contact button:hover{
    cursor:pointer;
    background-color: #283b32;
}


/* Media Queries */

@media screen and (min-width:768px) {
    #gallery figure{
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    #gallery figcaption {
        display:flex;
        justify-content:center;
        align-items:center;
    }
    #blog div{
        max-width:100%;
        columns:20rem;
        text-align:justify;
    }
}
@media screen and (min-width:1200px){
    #gallery{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        padding-right:50px;
    }
    #gallery hr{
        display:none;
    }
    #gallery h2{
        grid-column:1/-1;
    }
    #gallery figure{
        display:block;
    }
    #lyrics{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    #lyrics h3, h4{
        grid-column:1/-1;
    }
}

/* KEY FRAMES */

@keyframes move{
    0%{
        background-position:left;
    }
    50%{
        background-position:right;
    }
    100%{
        background-position:left;

    }
}


/*

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #344E41 }
}

*/








                        #gallery {
                            display: grid;
                            gap: 40px;
                            height: 100vh;
                            margin: 0;
                            grid-auto-flow: column;
                            place-content: center;

                            border:10px solid #588157;
                            text-align:center;
                        }

                        #gallery img{
                            width:50vw;
                            max-width:100%;
                            min-width:100px;
                        }

                        #gallery img {
                        --color: #588157; /* the border color */
                        --border: 10px; /* the border thickness*/
                        --offset: 20px; /* control the offset*/
                        --gap: 5px; /* the gap on hover */

                        --_c: var(--color) var(--border), #588157 0 calc(100% - var(--border)),
                            var(--color) 0;
                        --_o: calc(3 * var(--offset));
                        padding: calc(var(--gap) + var(--border))
                            calc(var(--gap) + var(--border) + var(--offset))
                            calc(var(--gap) + var(--border) + var(--offset))
                            calc(var(--gap) + var(--border));
                        background: linear-gradient(var(--_c)) var(--_o) var(--_o),
                            linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
                        background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
                        background-repeat: no-repeat;
                        filter: grayscale(0.4);
                        transition: 0.5s;
                        cursor: pointer;
                        }

                        #gallery img:hover {
                        background-position: 0px 0px;
                        background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
                        filter: grayscale(0);
                        }
